/* Navbar */
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Aggiunge una leggera ombra alla navbar */
}

/* Stile per la sezione Caratteristiche del Prodotto */
#features {
    background-color: #f8f9fa;
    /* Colore di sfondo chiaro */
}

/* Stile per le card */
.card {
    border: none;
    /* Rimuove il bordo predefinito della card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Aggiunge un'ombra leggera alle card */
}

/* Spaziatura della sezione testimonianze */
#testimonials {
    background-color: #f8f9fa;
    /* Colore di sfondo chiaro */
    padding: 80px 0;
    /* Maggiore spaziatura verticale */
}

/* Stile per le testimonianze all'interno del carosello */
.carousel-item blockquote {
    font-size: 1.2rem;
    /* Dimensione del testo leggermente più grande */
    line-height: 1.6;
    /* Interlinea comoda */
    color: #555;
    /* Colore del testo */
    background: #ffffff;
    /* Sfondo bianco per il blocco delle testimonianze */
    padding: 40px;
    /* Spaziatura interna aumentata */
    border-radius: 8px;
    /* Angoli arrotondati */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Ombra leggera */
    max-width: 800px;
    /* Larghezza massima delle testimonianze */
    margin: 0 auto;
    /* Centra il blocco della testimonianza */
}

/* Stile per la sezione del modulo di contatto */
#contact {
    background-color: #f8f9fa;
    /* Sfondo chiaro */
    padding: 60px 0;
    /* Spaziatura verticale */
}

/* Messaggio di conferma (inizialmente nascosto) */
#confirmationMessage {
    display: none;
}

/* Stile per la sezione FAQ */
#faq {
    background-color: #f8f9fa;
    /* Sfondo chiaro */
    padding: 60px 0;
    /* Spaziatura verticale */
}

.accordion-button {
    font-weight: bold;
}

.accordion-button:focus {
    box-shadow: none;
    /* Rimuove l'effetto di focus */
}

/* Stile per la sezione Social */
#social {
    background-color: #f8f9fa;
    /* Sfondo chiaro */
    padding: 60px 0;
    /* Spaziatura verticale */
}

#social i {
    color: #007bff;
    /* Colore delle icone social */
    transition: color 0.3s;
    /* Aggiunge una transizione quando si passa sopra */
}

#social i:hover {
    color: #0056b3;
    /* Colore quando si passa sopra le icone */
}

#social a {
    text-decoration: none;
    /* Eliminazione sottolineature agli elementi a */
}

#social a:hover i {
    transform: scale(1.2);
    /* Le icone si ingrandiscono leggermente */
    transition: transform 0.3s ease;
    /* Transizione fluida */
}
/* Footer */
footer {
    background-color: #f8f9fa;
    /* Sfondo chiaro */
    color: #333;
    /* Colore del testo scuro */
    padding: 20px 0;
    /* Spaziatura verticale */
}

footer a {
    color: #007bff;
    /* Colore dei link nel footer */
    text-decoration: none;
    /* Rimuove la sottolineatura */
}

footer a:hover {
    text-decoration: underline;
    /* Sottolineatura quando si passa sopra */
}